[left-nav-data]::-webkit-scrollbar {
        display: none;
}

[left-nav-data] {
        z-index: 1;
        float: left;
        height: 94%;
        overflow: auto;
        position: absolute;
        max-width: 220px;
        background-color: rgb(25, 5, 43);
}

[left-nav-menu-i] {
        min-height: 40px;
        overflow: hidden;
        padding-top: 10px;
}

[left-nav-menu-i][m-m] {
        background-color: rgb(84, 78, 90);
}

[left-nav-menu-i] img {
        float: left;
        width: 30px;
        height: 30px;
        margin-left: 15px;
        margin-right: 2px;
}

[m-i] {
        height: 50px;
        padding-top: 7.5px;
        padding-right: 13px;
}

[m-i].focused {
        background-color: rgb(20, 2, 37);
        border: 2px solid rgba(84, 78, 90, .2);
}

[m-i], [left-nav-m001] {
        box-sizing: border-box;
}

[left-nav-menu-i] span {
        float: right;
        width: 136px;
        height: 10px;
        font-size: 10px;
        padding: 0 10px;
        padding-top: 10px;
}

o[num] {
        color: blue;
}

span[l-m-name] {
        color: rgb(221, 113, 198);
}

[left-nav-menu-i] span, li[l-n-m001], [user-acc], 
[b-data-struct], [my-creation-data-struct] {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

[left-nav-m001] {
        padding-left: 40px;
        padding-top: 5px;
        min-width: 220px;
        display: none;
        float: left;
}

li[l-n-m001] {
        padding: 6.5px 0;
        font-size: 10.7px;
}

li[l-n-m001] a {
        color: rgb(13, 201, 98);
}

span[roll] {
        float: left;
        padding: 1px;
        width: 5px;
        height: 5px;
        margin: 0 5px;
        margin-top: 3px;
        border-radius: 50%;
        background-color: rgba(231, 225, 222, .1);
}

li[l-n-m001]:hover  span[roll] {
        background-color: rgb(206, 13, 119);
}

li[l-n-m001]:hover a {
        color: #fff;
}

a {
        text-decoration: none;
}

[user-acc] {
        display: inline-block;
        position: absolute;
        padding-top: 8px;
        text-align: right;
        font-style: italic;
        font-size: 13px;
        right: 60px;
}

[user-acc-options] {
        top: 15px;
        z-index: 1;
        display: none;
        width: 220px;
        padding: 15px;
        position: relative;
        border-radius: 15px 5px;
        background-color: rgb(25, 5, 43);
        -webkit-animation: toggleUser .3s;
        animation: toggleUser .3s;
}

[user-acc-opt-it], [user-acc] {
        color: rgb(184, 231, 219);
}

[user-acc-opt-it] {
        width: 100%;
        display: block;
        font-size: 12px;
        margin-top: 6px;
        text-align: left;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(173, 216, 230, 0.1);
}

img[user-acc-opt-it] {
        width: 204px;
        height: 200px;
}

[user-acc-opt-it][logout], img[user-acc-opt-it] {
        border: none;
}

[user-acc]:hover [user-acc-options] {
        display: block;
}

@-webkit-keyframes toggleUser {
        from {
                opacity: 0;
                top: 0;
        } to {
                opacity: 1;
                top: 15px;
        }
}

@keyframes toggleUser {
        from {
                opacity: 0;
                top: 0;
        } to {
                opacity: 1;
                top: 15px;
        }
}

[body-data] {
        right: 0;
        left: 60px;
        margin-left: 60px;
}

[data-nav], [data-nav4] {
        padding: 20px;
}

[data-nav][n001] {
        column-count: 4
}

[data-nav][n002] {
        column-count: 6;
}

[data-nav][n003] {
        column-count: 6;
}

[data-nav][n-003] {
        column-count: 5;
}

[b-data-struct] {
        font-size: 13px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        background-color: rgb(240, 230, 230);
}

[b-data-struct] span {
        display: block;
        width: 100%;
}

div span[b-data-struct-title] {
        padding-bottom: 10px;
        border-bottom: 3px solid rgba(165, 124, 204, 0.1);
}

div span[b-data-struct-values] {
        padding: 15px 0;
}

span i {
        color: rgb(176, 43, 202);
        font-size: 15px;
}

span o {
        color: rgb(20, 141, 135);
        padding: 0 2px;
}

[data-nav][n001] span[b-data-struct-title] {
        color: rgb(163, 70, 7);
}

[data-nav][n002] span[b-data-struct-title] {
        color: rgb(12, 26, 156);
}

[data-nav][n003] span[b-data-struct-title], 
[data-nav][n-003] span[b-data-struct-title] {
        color: rgb(52, 141, 10);
}

[my-creation-data-struct] {
        column-count: 5;
}

[my-creation-data-struct] div:not(:last-child) {
        border-right: 3px solid rgba(152, 95, 204, 0.1);
}

[my-creation-data-struct] { 
        padding-top: 30px;
}

[my-creation-data-struct] div span {
        padding: 5px;
}

[All-I-created] {
        width: 75%;
}

[b-data-struct] {
        border: 2px solid rgba(206, 62, 134, .1);
}

[all-I-created] span[b-data-struct-title] {
        color: rgb(0, 0, 255);
}

[my-creation-data-struct] div span:first-child {
        color: rgb(190, 14, 14);
}


/*
Nav for booking-item, trip-item, client-item, message-item
*/

div[book-trip-cli-msg-nav] {
        margin: 10px;
        margin-right: 10px;
        margin-left: 230px;
}

[book-trip-cli-msg-nav] [a-book-item] {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        background-color: rgba(236, 207, 214, .4);
        border: 2px solid rgba(219, 113, 157, 0.1);
        -webkit-column-count: 3;
        column-count: 3;
        margin-bottom: 10px;
        border-radius: 10px;
        min-width: 400px;
        max-width: 600px;
        padding: 20px 0;
        font-size: 13px;
        position: relative;
}

[a-book-item] [item-col] span {
        display: block;
        text-align: center;
}

[a-book-item] [item-col][controls] {
        color: orangered;
        position: absolute;
        font-size: 20px;
        right: 5px;
        top: 0;
}

[a-book-item] [item-col] span[item-col-header] {
        padding-bottom: 20px;
        color: rgb(205, 43, 226);
}