* {box-sizing: border-box;}

.acc {
    top: 45px;
    z-index: 1;
    right: 10px;
    width: 200px;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(39, 7, 32);
    border: 2px solid rgba(143, 236, 229, 0.2);
}

.acc-show {
    display: block;
    -webkit-animation: acc-show .4s;
    animation: acc-show .4s;
}

@-webkit-keyframes acc-show {
    0% {
        top: 10px;
    }
    100% {top: 45px;}
}

@keyframes acc-show {
    0% {
        top: 10px;
    }
    100% {top: 45px;}
}

.acc-photo {
    height: 180px;
    border-radius: 50%;
    background: url("../icons/user_icon.png") no-repeat;
}

li.acc-op {
    color: #e5e;
    padding: 10px;
    font-size: 13px;
}

li.switch-option {
    padding: 20px;
    display: block;
    font-size: 15px;
    text-decoration: none;
}

li.fcs {
    background-color: #eee;
}

.op-it:hover {
    cursor: pointer;
    background-color: orange;
}

li.op-it {
    float: right;
}

li.tri-m-h {
    float: left;
    padding-right: 15%;
    background-color: aquamarine;
}

.trip-menu {
    padding: 0;
    margin: 0;
    border-radius: 8px;
}

.menu-option {
    background-color: rgb(141, 10, 141);
}

.form-fields {
    border: none;
    padding: 20px 0;
    border-radius: 0 10px 10px 0;
    border-top:  5px solid rgba(0, 235, 150, 0.6);
}

.cre, .boo, .myb {
    display: inline-block;
}

.cre.l-p, .boo.l-p {
    width: 49.5%;
    margin-top: 5px;
    background-color: #eef;
    border-radius: 10px 0 0 10px;
    border-left:  5px solid rgba(0, 235, 150, 0.6);
}

.cre.l-p {
    min-height: 410px;
}

.boo.l-p {
    min-height: 145px;
}

.cre.f-f, .boo.f-f {
    width: 50%;
    float: right;
}

.search-menu {
    height: 70px;
    padding: 15px 30px;
    background-color: #eee;
}

.col {
    display: inline-block;
    height: 100%;
}

.search {
    float: right;
    padding: 7.5px;
    max-width: 90px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid rgb(0, 178, 229);
    font: 14px Verdana, Tahoma, sans-serif;
}

.search, .select {
    margin: 0 1%;
    width: 24%;
}

.none {display: none;}

.user-option {
    background-color: #eee;
    border-radius: 4px;
    position: absolute;
    margin-top: 5px;
    display: none;
    padding: 5px;
    height: 0;
    right: 5px;
    z-index: 1;
    transition: 2.4s;
}

.show-u-op {
    display: block;
    height: initial;
}

.u-option {
    padding: 10px;
    border-radius: 4px;
    background: transparent;
}

@media screen and (max-width: 605px) {
    .search, .select {
        max-width: initial;
        width: 22.6%;
    }
}

@media screen and (max-width: 530px) {
    .search-menu {
        height: auto;
    }

    .search {display: none;}

    .search, .select {
        width: 100%;
        margin: 5px 0;
        padding: 10px 0;
    }
}
