* {box-sizing: border-box;}

.slides {
  margin: 10% 20%;
  margin-bottom: 2%;
}

body {
  margin: 0;
  padding: 0;
}

.bk-img-cont {
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
}

#img {
  width: 100%;
  height: 100%;
}

.dot {
  width: 15px;
  height: 15px;
  opacity: .5;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid seagreen;
  background-color: rgb(250, 250, 250);
  transition: opacity 0.8s;
}

.dot:hover {
  opacity: 1;
}

.dot-on {
  opacity: 1;
}

.slide-control, .slides {
  text-align: center;
}

.slide {
  display: none;
  padding: 20px;
  font-size: 18px;
  position: relative;
  border-radius: 8px;
  color: rgb(82, 64, 55);
  font-family: Verdana, Tahoma, sans-serif;
  background-color: rgba(255, 255, 255, .05);
}

.slide-on {
  display: block;
}

#slide-h {
  font-size: 30px;
  padding-bottom: 20px; 
  color: rgb(105, 218, 165);
}

blockquote {
  font-size: 13px;
  padding-top: 40px;
  font-style: italic;
  color: rgb(122, 216, 216);
}

.lslide {
  -webkit-animation: lslide .8s;
  animation: lslide .8s;
}

@-webkit-keyframes lslide {
  from {left: -50%;} 
  to {left: 0}
}

@keyframes lslide {
  from {left: -50%;} 
  to {left: 0}
}

.in-out-grp {
  max-width: 250px;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: rgb(0, 50, 100);
}

.button {
  background: none;
  display: inline-block;
  border-radius: 0;
  padding: 8px;
  width: 50%;
  font-size: 14px;
  color: #fff;
  border-radius: 20px 0 0 20px;
}

.button.rgt {
  border-radius: 0 20px 20px 0;
  border-left: 2px solid rgba(200, 200, 200, 0.1);
}