<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <title>Dashboard - Clients</title>

  <script src='../../js/jquery_3_4_1.js'></script>
  <script src='../../js/events_core_API_v1.js'></script>
  <script> let data = JSON.stringify(data); </script>
  <script src='../../js/user_account_info_API.js'></script>
  <script src='../../js/create_form_API.js'></script>
  <script src='../../js/client_API_v1.js'></script>
  <script src='../../js/user_API_v1.js'></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' type="text/css" href="../../css/css_core_view.css">
  <link rel='stylesheet' type="text/css" href="../../css/css_user_core.css">
  <link rel='stylesheet' type="text/css" href="../../css/css_trip_form_core.css">
</head>

<body>
  <div m-menu-bar>
    <a company-brand href="./">
      <div c-logo><img src="../../images/company-logo.png" alt="LOGO" /></div>
      <div c-name><i id="way">WAY</i><i id="fare">FARER</i></div>
    </a>

    <div user-acc><i>Hi, Mr/Mrs account-owner</i>
      <div user-acc-options>
        <span user-acc-opt-it em>Signed in as</span>
        <img user-acc-opt-it src="../../images/user.png" alt="Profile Picture" />
        <a user-acc-opt-it edit href="../profile.html">EDIT PROFILE</a>
        <a user-acc-opt-it logout href="../signin.html">LOGOUT</a>
      </div>
    </div>

    <div exp-colps-logo>
      <img src="../../images/menu.png" alt="More" />
    </div>
  </div>

  <div m-menu-bar-options class="hide">
    <ul>
      <li class="menu-item"><a href="../help.html">Help</a></li>
      <li class="menu-item"><a href="../about.html">About Us</a></li>
      <li class="menu-item"><a href="../services.html">Services</a></li>
    </ul>
  </div>

  <div left-nav-data>
    <div left-nav>
      <div left-nav-menu-i m-m>
        <img src="../../images/menu.png" title="MY MENU" />
        <span l-m-name>GENERAL</span>
      </div>

      <div left-nav-menu-i>
        <div m-i m-create>
          <img book-seat src="../../images/create.png" title="Create Trip" />
          <span l-m-name>CREATE A TRIP</span>
        </div>
      </div>

      <div left-nav-menu-i>
        <div m-i>
          <img left-nav-op-icon all-trips src="../../images/trip.png" title="All Trips" />
          <span l-m-name>AVAILABLE TRIPS</span>
        </div>
        <ul left-nav-m001>
          <li l-n-m001><a href="./trips.html"><span roll></span>ALL</a></li>
          <li l-n-m001><a href="./trips.html"><span roll></span>BUS</a></li>
          <li l-n-m001><a href="./trips.html"><span roll></span>BOAT</a></li>
          <li l-n-m001><a href="./trips.html"><span roll></span>TRAIN</a></li>
          <li l-n-m001><a href="./trips.html"><span roll></span>FLIGHT</a></li>
          <li l-n-m001><a><span roll></span>SEARCH</a></li>
        </ul>
      </div>

      <div left-nav-menu-i>
        <div m-i>
          <img left-nav-op-icon my-booked-seats src="../../images/booked.png" title="All Bookings" />
          <span l-m-name>BOOKED SEATS</span>
        </div>
        <ul left-nav-m001>
          <li l-n-m001><a href="./bookings.html"><span roll></span>ALL</a></li>
          <li l-n-m001><a href="./bookings.html"><span roll></span>BUS</a></li>
          <li l-n-m001><a href="./bookings.html"><span roll></span>BOAT</a></li>
          <li l-n-m001><a href="./bookings.html"><span roll></span>TRAIN</a></li>
          <li l-n-m001><a href="./bookings.html"><span roll></span>FLIGHT</a></li>
          <li l-n-m001><a><span roll></span>SEARCH</a></li>
        </ul>
      </div>

      <div left-nav-menu-i>
        <div m-i>
          <img left-nav-op-icon sched-more src="../../images/more.png" title="More" />
          <span l-m-name>MORE</span>
        </div>
        <ul left-nav-m001 bo-se>
          <li l-n-m001><a><span roll></span>ALL CLIENTS</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div create-form>
    <div create-header>
      Create A Trip
      <span x>X</span>
      <span ok>OK</span>
    </div>

    <form class="form-fields" for-create>
      <div class="textInput">
        <div orig c-lab>Origin</div>
        <div orig c-val><input type="text" id="origin" class="field" placeholder="Origin"></div>
      </div>

      <div class="textInput">
        <div destin c-lab>Destination</div>
        <div destin c-val><input type="text" id="destiny" class="field" placeholder="Destination"></div>
      </div>

      <div class="textInput">
        <div bus-li-num c-lab>Bus licence plate</div>
        <div bus-li-num c-val><input type="text" id="bus -lic-num" class="field" placeholder="bus  licence numbere">
        </div>
      </div>

      <div class="textInput">
        <div li-num c-lab>Mode</div>
        <div li-num c-val>
          <select>
            <option selected disabled>Transportation mode</option>
            <option>Bus</option>
            <option>Boat</option>
            <option>Train</option>
            <option>Flight</option>
          </select>
        </div>
      </div>

      <div class="textInput">
        <div seat-cap c-lab>Seat capacity</div>
        <div seat-cap c-val><input type="text" id="seat-capacity" class="field" placeholder="seating capacity"></div>
      </div>

      <div class="textInput">
        <div trip_d c-lab>Trip date</div>
        <div trip_d c-val><input type="date" id="trip-date" class="field" placeholder="Trip date"></div>
      </div>

      <div class="textInput">
        <div faree c-lab>Fare</div>
        <div faree c-val><input type="text" id="faree" class="field" placeholder="Fare"></div>
      </div>
    </form>
  </div>

  <div book-trip-cli-msg-nav></div>
</body>

</html>
