<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>HOME SESSION</title>

    <script src='../js/jquery-3.4.1.js'></script>
    <script src='../js/some-combo.js'></script>
    <script src='../js/home.js'></script>

	  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' type="text/css" href="../css/par_css.css">
    <link rel='stylesheet' type="text/css" href="../css/home.css">
  </head>

  <body>
    <div class="m-m-bar">
      <ul>
          <li class="menu-item user-acc inner-m">Account
            <div class="acc">
              <div class="acc-photo"></div>
              <div class="acc-settings">
                <ul class="acc-op-menu">
                  <li class="acc-op">Edit Profile</li>
                  <li class="acc-op">Sign out</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="menu-item"><a href="#">Guide</a></li>
          <li class="menu-item"><a href="#">About Us</a></li>
          <li class="menu-item inner-m servs">Services
            <div class="serv">
              <div class="serv-col">
                <h3>BUS</h3>
                <div class="serv-b-cont"></div>
              </div>
              <div class="serv-col">
                <h3>FLIGHT</h3>
                <div class="serv-b-cont"></div>
              </div>
              <div class="serv-col">
                <h3>BOAT</h3>
                <div class="serv-b-cont"></div>
              </div>
              <div class="serv-col">
                <h3>TRAIN</h3>
                <div class="serv-b-cont"></div>
              </div>
            </div>
          </li>
          <li class="menu-item focused-tab"><a href="#">HOME</a></li>
          <li class="menu-item comp-info"><i id="way">WAY</i><i id="fare">FARER</i></li>
      </ul>
    </div>

    <div class="trip-menu">
      <div class="menu-option menu-bar">
        <ul>
          <li class="switch-option tri-m-h">MY MENU</li>
          <li id="m-b" class="switch-option op-it">MY BOOKINGS</li>
          <li id="a-t" class="switch-option op-it">ALL TRIPS</li>
          <li id="c-a-t" class="switch-option op-it">CREATE A TRIP</li>
          <li id="b-a-s" class="switch-option op-it">BOOK A SEAT</li>
          <li id="a-b" class="switch-option op-it">ALL BOOKED</li>
        </ul>
      </div>

      <div class="search-menu">
        <select class="col select find-filter">
          <option selected>Filter</option>
          <option>Find</option>
        </select>
        <select class="col select trip-category">
          <option selected>All</option>
          <option>My Trips</option>
        </select>
        <select class="col select keyword">
          <option selected>Origin</option>
          <option>Destination</option>
          <option>date</option>
          <option>ID</option>
        </select
        ><div class="col search button disabled">search</div>
      </div>

      <div class="create-a-trip none">
        <section class="cre l-p"></section>
        <section class="cre f-f">
          <form class="form-fields">
            <label for="seats">Seats</label>
            <div class="textInput">
              <input type="number" id="seats" class="field" placeholder="Seating Capacity">
            </div>

            <label for="bus-licence">Bus Licence number</label>
            <div class="textInput">
              <input type="text" id="bus-licence" class="field" placeholder="Bus Licence number">
            </div>

            <label for="origin">Origin</label>
            <div class="textInput">
              <input type="text" id="origin" class="field" placeholder="Origin Station">
            </div>

            <label for="destiny">Destination</label>
            <div class="textInput">
              <input type="text" id="destiny" class="field" placeholder="Destination">
            </div>

            <label for="created-on">Created On</label>
            <div class="textInput">
              <input type="date" id="created-on" class="field" placeholder="Creation date">
            </div>

            <label for="fare">Fare</label>
            <div class="textInput">
              <input type="number" id="fare" class="field" placeholder="Fare">
            </div>

            <label for="status">Status</label>
            <div class="textInput">
              <select id="status resz">
                <option selected>Active</option>
                <option>Cancelled</option>
              </select>
            </div>
          </form>
        </section>
      </div>

      <div class="book-a-seat none">
        <section class="boo l-p"></section>
        <section class="boo f-f">
          <form class="form-fields">
            <label for="trip_id">Seats</label>
            <div class="textInput">
              <select id="trip_id resz">
                <option selected>Select Trip ID</option>
              </select>
            </div>

            <label for="created-on">Created On</label>
            <div class="textInput">
              <input type="date" id="created-on" class="field" placeholder="Creation date">
            </div>
          </form>
        </section>
      </div>

      <div class="my-bookings none">
        <section class="myb l-p"></section>
        <section class="myb f-f"></section>
      </div>
      
      <div class="all-booked none"></div>
      <div class="all-trips none"></div>
    </div>

    <!--
      <div class="list-menu">
        <div class="trip-list my-trip">
          <div class="trip-header">My Booked</div>
          <div class="my list"></div>
        </div>

        <div class="trip-list all-trip">
          <div class="trip-header">All Trips</div>
          <div class="all list"></div>
        </div>

        <div class="trip-list booked">
          <div class="trip-header">Booked Seats</div>
          <div class="booked-seat list"></div>
        </div>
      </div>

      <div class="right">
        <div class="other-board"></div>
      </div>
    -->

  </body>
</html>