<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8">
    <title>SIGN IN</title>
    
    <script src='../js/jquery-3.4.1.js'></script>
    <script src='../js/some-combo.js'></script>
    <script src="../js/signin.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel='stylesheet' type="text/css" href="../css/signin.css">
    <link rel='stylesheet' type="text/css" href="../css/par_css.css">
  </head>

  <body>
    <div class="m-m-bar">
        <ul>
            <li class="menu-item"><a href="#">Guide</a></li>
            <li class="menu-item"><a href="#">About Us</a></li>
            <li class="menu-item focused-tab"><a href="#">Sign In</a></li>
            <li class="menu-item"><a href="#">Sign Up</a></li>
            <li class="menu-item inner-m servs">Services
                <div class="serv">
                    <div class="serv-col">
                        <h3>BUS</h3>
                        <div class="serv-b-cont"></div>
                    </div>
                    <div class="serv-col">
                        <h3>FLIGHT</h3>
                        <div class="serv-b-cont"></div>
                    </div>
                    <div class="serv-col">
                        <h3>BOAT</h3>
                        <div class="serv-b-cont"></div>
                    </div>
                    <div class="serv-col">
                        <h3>TRAIN</h3>
                        <div class="serv-b-cont"></div>
                    </div>
                </div>
            </li>
            <li class="menu-item"><a href="#">HOME</a></li>
            <li class="menu-item comp-info"><i id="way">WAY</i><i id="fare">FARER</i></li>
        </ul>
    </div>

    <div class='signup-form'>
        <div class="user-category">
            <div class="user client active">Client</div
            ><div class="user admin">Admin</div>
        </div>

        <form class="form-fields">
            <label for="email">Email</label>
            <div class="textInput">
                <input type="email" id="email" class="field" placeholder="e.g: example@way.farer.it">
            </div>

            <label for="password">Password</label>
            <div class="textInput">
                <input type="password" id="password" class="field" placeholder="password">
            </div>

            <div class="button-group">
                <div class="button signin">Forgot?</div
                ><div class="button signin" style="float: right;">Next</div>
        </form>
    </div>
	
  </body>
</html>