<!DOCTYPE html>
<html lang="eng">
        <head>
                <meta charset="utf-8">
                <title>Dashboard - Trips</title>

                <script src='../js/jquery_3_4_1.js'></script>
                <script src='../js/events_core_API_v1.js'></script>
                <script> let data = <%- JSON.stringify(data) %>; </script>
                <script src='../js/user_account_info_API.js'></script>
                <script src='../js/trip_API_v2.js'></script>
                <script src='../js/user_API_v1.js'></script>

                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <link rel='stylesheet' type="text/css" href="../css/css_core_view.css">
                <link rel='stylesheet' type="text/css" href="../css/css_user_core.css">
        </head>

        <body>
                <div m-menu-bar>
                        <a company-brand href="/">
                                <div c-logo><img src="../icons/company-logo.png" alt="LOGO" /></div>
                                <div c-name><i id="way">WAY</i><i id="fare">FARER</i></div>
                        </a>

                        <div user-acc><i>Hi, Mr/Mrs account-owner</i>
                                <div user-acc-options>
                                        <span user-acc-opt-it em>Signed in as</span>
                                        <img user-acc-opt-it src="../icons/user.png" alt="Profile Picture" />
                                        <a user-acc-opt-it edit href="/session/profile">EDIT PROFILE</a>
                                        <a user-acc-opt-it logout href="/session/logout">LOGOUT</a>
                                </div>
                        </div>

                        <div exp-colps-logo>
                                <img src="../icons/menu.png" alt="More" />
                        </div>
                </div>

                <div m-menu-bar-options class="hide">
                        <ul>
                                <li class="menu-item"><a href="help.htm">Help</a></li>
                                <li class="menu-item"><a href="about.htm">About Us</a></li>
                                <li class="menu-item"><a href="services.htm">Services</a></li>
                        </ul>
                </div>

                <div left-nav-data>
                        <div left-nav>
                                <div left-nav-menu-i m-m>
                                        <img src="../icons/menu.png" title="MY MENU" />
                                        <span l-m-name>GENERAL</span>
                                </div>

                                <div left-nav-menu-i>
                                        <div m-i>
                                                <img book-seat src="../icons/book.png" title="Book Seat" />
                                                <span l-m-name>BOOK A SEAT</span>
                                        </div>
                                        <ul left-nav-m001>
                                                <li l-n-m001><a href="/trip/bus"><span roll></span>BUS</a></li>
                                                <li l-n-m001><a href="/trip/boat"><span roll></span>BOAT</a></li>
                                                <li l-n-m001><a href="/trip/train"><span roll></span>TRAIN</a></li>
                                                <li l-n-m001><a href="/trip/flight"><span roll></span>FLIGHT</a></li>
                                        </ul>
                                </div>

                                <div left-nav-menu-i>
                                        <div m-i>
                                                <img left-nav-op-icon all-trips src="../icons/trip.png" title="All Trips" />
                                                <span l-m-name>AVAILABLE TRIPS</span>
                                        </div>
                                        <ul left-nav-m001 tri-av>
                                                <li l-n-m001><a href="/trips"><span roll></span>ALL</a></li>
                                                <li l-n-m001><a href="/trips/Bus"><span roll></span>BUS</a></li>
                                                <li l-n-m001><a href="/trips/Boat"><span roll></span>BOAT</a></li>
                                                <li l-n-m001><a href="/trips/Train"><span roll></span>TRAIN</a></li>
                                                <li l-n-m001><a href="/trips/Flight"><span roll></span>FLIGHT</a></li>
                                                <li l-n-m001><a><span roll></span>SEARCH</a></li>
                                        </ul>
                                </div>

                                <div left-nav-menu-i>
                                        <div m-i>
                                                <img left-nav-op-icon my-booked-seats src="../icons/booked.png" title="My Trip Booking Plan" />
                                                <span l-m-name>MY BOOKING SCHEDULE</span>
                                        </div>
                                        <ul left-nav-m001>
                                                <li l-n-m001><a href="/bookings"><span roll></span>ALL</a></li>
                                                <li l-n-m001><a href="/bookings/Bus"><span roll></span>BUS</a></li>
                                                <li l-n-m001><a href="/bookings/Boat"><span roll></span>BOAT</a></li>
                                                <li l-n-m001><a href="/bookings/Train"><span roll></span>TRAIN</a></li>
                                                <li l-n-m001><a href="/bookings/Flight"><span roll></span>FLIGHT</a></li>
                                                <li l-n-m001><a><span roll></span>SEARCH</a></li>
                                        </ul>
                                </div>

                                <div left-nav-menu-i>
                                       <div m-i>
                                               <img left-nav-op-icon sched-more src="../icons/more.png" title="More" />
                                               <span l-m-name>MORE</span>
                                        </div>
                                        <ul left-nav-m001>
                                                <li l-n-m001><a><span roll></span>NEW OFFERS</a></li>
                                                <li l-n-m001><a><span roll></span>LEAVE A MESSAGE</a></li>
                                        </ul>
                                </div>
                        </div>
                </div>

                <div book-trip-cli-msg-nav></div>
        </body>
</html>