<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <title>Forgot?</title>

  <script src='../js/jquery_3_4_1.js'></script>
  <script src='../js/events_core_API_v1.js'></script>
  <script src='../js/user_forgot_API.js'></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='stylesheet' type="text/css" href="../css/css_core_view.css">
  <link rel='stylesheet' type="text/css" href="../css/css_user_forgot_core.css">
</head>

<body>
  <div m-menu-bar>
    <a company-brand href="/">
      <div c-logo><img src="../images/company-logo.png" alt="LOGO" /></div>
      <div c-name><i id="way">WAY</i><i id="fare">FARER</i></div>
    </a>
    <div exp-colps-logo>
      <img src="../images/menu.png" alt="More" />
    </div>
  </div>
  <div m-menu-bar-options class="hide">
    <ul>
      <li class="menu-item"><a href="./help.html">Help</a></li>
      <li class="menu-item"><a href="./about.html">About Us</a></li>
      <li class="menu-item"><a href="./signin.html">Sign In</a></li>
      <li class="menu-item"><a href="./signup.html">Sign Up</a></li>
      <li class="menu-item"><a href="./services.html">Services</a></li>
    </ul>
  </div>

  <div class='for-forgot signup-form'>
    <div forgot-header>Reset account password</div>

    <form action="./newPassword.html" class="form-fields" for-forgot>
      <label for="email">Email address</label>
      <div class="textInput">
        <input type="text" id="email" class="field" placeholder="Enter your email">
      </div>

      <input type="submit" class="button" restore value="restore">
    </form>
  </div>
</body>

</html>

<!--
  /**
  @show & hide UI
  **/

  <div class="button" show-pass>
    <span dot-show></span>
    <span dot-show></span>
    <span dot-show></span>
  </div>
-->
