<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="utf-8">
  <title>Help Desk</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href="../css/css_core_view.css">
  <link rel='stylesheet' type="text/css" href="../css/css_help_about_core.css">
</head>

<body>
  <div m-menu-bar>
    <a company-brand href="/">
      <div c-logo><img src="../images/company-logo.png" alt="LOGO" /></div>
      <div c-name><i id="way">WAY</i><i id="fare">FARER</i></div>
    </a>
  </div>

  <div p-content>
    <div content-header>Any Help</div>
    <div content>
      Here you find any help regarding on any question you may have 
      <i>This is a platform for reaching out to our customs, and them to us.</i>
    </div>
  </div>
</body>

</html>
