[forgot-header] {
  text-align: center;
  font-size: 1.8em;
  padding: 20px;
  color: rgb(79, 55, 122);
}

/**
@hide & show password

div.textInput[f-off] {
  background-color: #fff;
  border-radius: 20px;
  font-size: 13px;
}

.textInput[f-off] div[c-lab] {
  padding: 10px;
  min-width: 100px;
  border-radius: 20px 0 0 20px;
  background-color: rgb(4, 160, 82);
}

.textInput[f-off] div {
  display: inline-block;
}
**/

[restore] {
  border: 2px solid rgba(160, 12, 128, .1);
  margin: 15px calc((100% - 200px) / 2);
  background-color: #fff;
  border-radius: 20px;
  width: 200px;
  padding: 8px;
}

input[type="submit"]:focus {
  border: 2px solid rgba(160, 12, 128, .1);
  border-radius: 20px;
  outline: none;
}

input[type="submit"]:hover {
  background-color: #fff;
}
