[profile-header] {
  font-size: 1.8em;
  text-align: center;
  display: block;
  padding: 25px 10px;
  color: rgb(79, 55, 122);
}

div.textInput .button:hover [dot-show] {
  background-color: hotpink;
}

div.textInput {
  background: none;
  margin-bottom: 20px;
}

[profile-header], [c-val], [c-lab] {
  text-align: center;
}

div.textInput[f-off] {
  background-color: #fff;
  border-radius: 20px;
  font-size: 13px;
}

.textInput[f-off] div[c-lab] {
  padding: 10px 15px;
  min-width: 80px;
  border-radius: 20px 0 0 20px;
}

[c-lab] {
  background-color: rgba(214, 65, 199, 0.1)
}

.textInput[f-off] div {
  display: inline-block;
}

[commit] {
  background-color: #fff;
  padding: 8px 10px;
  width: 200px;
}

.button[commit]:hover {
  background: transparent;
}

.button[commit]:focus, [commit] {
  border: 2px solid rgba(150, 20, 122, .1);
  margin: 15px calc((100% - 200px) / 2);
  border-radius: 20px;
}

[c-val] {
  padding-left: 50px;
}

[userId-value][c-val], [creatOn-value][c-val] {
  padding-left: 8px;
}
