[error] {
  font-size: 5em;
  padding: 15% 0;
  text-align: center;
  color: rgba(119, 136, 153, 0.18);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

[m-menu-bar] {
  background-color: transparent;
}
