[m-menu-bar] {
  background-color: #fff
}

[forgot-header] {
  font-size: 15px;
  margin-top: 5%;
  padding: 15px 25px;
  color: rgb(79, 55, 122);
  border-radius: 20px 20px 0 0;
  background-color: rgba(180, 104, 69, .4);
}

[forgot-header], form[for-forgot] {
  width: 450px;
}

form[for-forgot] {
  background-color: rgba(185, 197, 204, 0.2);
  padding: 25px;
  margin-bottom: 5%;
  border-radius: 0 0 20px 20px;
  border: none;
}

div.forgot-form {
  float: right;
  margin-right: 10%;
}

div.textInput input[type='text'], div.textInput input[type='password'] {
  border-radius: 20px;
  padding: 12px 30px;
}

div.textInput .button, [forgot-header], div.textInput[f-off], input {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

div.textInput .button {
  padding: 18px 5px;
  padding-top: 21px;
  font-size: 2px;
  position: relative;
  top: -41.4px;
  width: 50px;
  float: right;
}

div.textInput .button:hover [dot-show] {
  background-color: hotpink;
}

.button [dot-show] {
  background-color: rgb(200, 201, 199);
  border-radius: 50%;
  padding: 3px 4px;
  margin: 1px;
}

div.textInput {
  background: none;
  margin-bottom: 20px;
}

[forgot-header], [c-val], [c-lab] {
  text-align: center;
}

div.textInput[f-off] {
  background-color: #fff;
  border-radius: 20px;
  font-size: 13px;
}

.textInput[f-off] div[c-lab] {
  padding: 10px;
  min-width: 100px;
  border-radius: 20px 0 0 20px;
  background-color: rgb(4, 160, 82);
}

.textInput[f-off] div {
  display: inline-block;
}

[restore] {
  border: 2px solid rgb(43, 190, 209);
  background-color: #fff;
  border-radius: 20px;
  padding: 7px 10px;
  margin: 0 150px;
  font-size: 14px;
}

.button:hover {
  background: transparent;
}

[c-val] {
  padding-left: 50px;
}

input[type='date'] {
  border: none;
}

input[type='radio'] {
  margin-right: 5px;
}