[p-content] {
  min-width: 100%;
}

[p-content] [content-header] {
  padding: 20px;
  font-size: 5em;
  color: blueviolet;
  background-color: #eee;
}

[p-content] {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

[p-content] [content] {
  color: rgb(4, 42, 65);
  font-size: 1.3em;
  padding: 0 30%;
  padding-top: 10%;
}

[p-content] [content] i {
  display: block;
  margin-top: 2px;
  color: rgb(255, 127, 180);
}
