body {
  margin: 0;
  background-color: rgb(230, 225, 223);
}

[c-logo], [c-logo] img, [logo] {
  border-radius: 50%;
}

div[c-name] {
  position: absolute;
  left: 35px;
  top: 12px;
}

[m-menu-bar] {
  padding: 5px 8px;
}

[m-menu-bar-options], [m-menu-bar] {
  background-color: rgb(25, 5, 43);
}

div[c-logo] {
  padding: 1px;
  border: 1px solid orange;
}

[company-brand], div[exp-colps-logo] {
  display: inline-block;
}

div[exp-colps-logo] {
  float: right;
  margin-top: 2.5px;
}

div[c-logo] img, div[c-logo], div[exp-colps-logo] img {
  width: 26px;
  height: 26px;
}

i#way {
  color: orange;
}

i#fare {
  color: darkcyan;
}

i#way, i#fare {
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

li.menu-item {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

li.menu-item a {
  display: block;
  font-size: 11.5px;
  padding: 10px 20px;
  text-align: center;
  border-bottom: none;
  text-decoration: none;
  color: rgb(221, 113, 198);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

li.focused-tab a {
  border-bottom: 2px solid rgb(11, 211, 151);
}

form {
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  border: 2px solid rgba(0, 220, 66, 0.2);
}

div.signup-form {
  min-width: 350px;
}

.user-category {
  border-radius: 15px;
  background-color: rgba(0, 220, 66, 0.3);
}

.user {
  width: 50%;
  padding: .6em 0;
  font-size: 11.6px;
  text-align: center;
  display: inline-block;
  transition: .4s;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.client {
  border-radius: 10px 50px 0 10px;
}

.admin {
  border-radius: 50px 10px 10px 0;
}

.active {
  background-color: #fff;
}

.form-fields {
  margin-top: 5px;
}

.textInput {
  margin: 10px 20px;
  border-radius: 4px;
  background-color: rgb(248, 248, 245);
}

.field {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 20px;
  border: none;
  width: 100%;
}

.field:hover, .button:hover, [company-brand], [user-acc], div.user:hover, a:hover, .inner-m, [dot], div[s-item], [exp-colps-logo], [left-nav-menu-i], span[ok], span[x], [delete-book] {
  cursor: pointer;
}

label {
  display: none;
  position: relative;
  top: 18px;
  left: 40px;
  padding: 2px 10px;
  font-size: 1.05vw;
  border-radius: 4px;
  color: rgb(197, 24, 119);
  background-color: #fff;
}

select, input:focus {
  outline: none;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid rgb(0, 178, 229)
}

.unfoc-inp-data {
  background-color: #eee;
}

.button {
  text-align: center;
  border-radius: 10px;
  color: rgb(20, 2.5, 0);
}

.button:hover {
  background-color: #3f8f8f;
}

.in-out-grp {
  margin: auto;
  margin-top: 50px;
}

.in-out {
  margin: 10px auto;
}

.in-out, .in-out-grp {
  max-width: 250px;
  border-radius: 20px;
  background-color: rgb(0, 50, 100);
  border: 2px solid rgba(255, 255, 255, .2);
}

.in-out-grp .button, .in-out .button {
  display: inline-block;
  border-radius: 0;
  padding: 6px;
  width: 50%;
  font-size: 14px;
  color: #fff;
  border-radius: 20px 0 0 20px;
}

.in-out .button {
  width: 43.2%;
}

.button.rgt {
  border-radius: 0 20px 20px 0;
  border-left: 2px solid rgba(200, 200, 200, 0.1);
}
