[create-form] {
  top: 70px;
  left: 25%;
  display: none;
  font-size: 12px;
  position: absolute;
  min-width: 450px;
  background-color: #fef;
  border-radius: 30px 12px 30px 12px;
  border: 2px solid rgba(8, 140, 173, 0.2);
  -webkit-animation: crea .3s;
  animation: crea .3s;
}

[create-header] {
  font-size: 13px;
  padding: 15px 0;
  color: rgb(79, 55, 122);
  border-bottom: 4px solid rgba(180, 104, 69, .1);
}

form[for-create] {
  background: transparent;
  padding: 20px 10px;
  border: none;
}

[create-header] span {
  float: right;
  width: 25px;
  padding: 0 10px;
  font-weight: bold;
  color: orangered;
  font-family: Verdana, Tahoma, sans-serif;
}

[create-header] span[ok] {
  color: greenyellow;
}

input[type='text'], input[type='date'] {
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
}

[create-header], input, [create-form], select, option {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

div.textInput {
  background: none;
  margin-bottom: 20px;
}

[create-header], [c-val], [c-lab] {
  text-align: center;
}

.textInput [c-lab] {
  width: auto;
  padding: 10px 7px;
  padding-top: 12px;
  min-width: 100px;
  border-radius: 20px 0 0 20px;
  background-color: rgba(231, 173, 238, 0.2);
}

.textInput [c-val] {
  width: auto;
  min-width: 320px;
}

[c-val] select {
  width: 100%;
  border: none;
  padding: 10px;
}

[c-val], [c-lab] {
  display: inline-block;
}

@-webkit-keyframes crea {
  from {
    top: 10px;
    opacity: 0;
  }
  to {
    top: 70px;
    opacity: 1;
  }
}

@keyframes crea {
  from {
    top: 10px;
    opacity: 0;
  }
  to {
    top: 70px;
    opacity: 1;
  }
}
